.navbar-brand {
    font-size: 3em;
    font-family: 'Noto Serif', serif;
}
 .navbar-right > li {
     font-weight: bold;
 }
 #sidebar, #article {
     background-color: #777;
     color: #ffffff;
     height: 500px;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
 }
.navbar {
    margin-bottom: 0;
}
h1 .content-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-header {
    text-align: center;
}