#hero{
    background: url("https://static.pexels.com/photos/34153/pexels-photo.jpg") center;
    background-size: cover;
    font-size: 3.5rem;
    color: aliceblue;
    font-family: 'Noto Serif', serif;

}
.row{
    margin-left: 0;
    margin-right: 0;
}
#myHero, #aboutMe{
    height:100vh;
}
li > a:hover,  li > a, ul.myNav > li {
    text-decoration: none;
    color: aliceblue;
    list-style-type: none;
    align-self: center;
}
li > a:hover:after {
    position: absolute;
    width: 150px;
    height: 8px;
    background: aliceblue;
    content: '';
    left: 40%;
    transform: translateX(-150%);
    bottom: -9px;
}

.myText {
    flex-basis: auto;
}
#heading {
    text-align: center;
}
#myNav {
    align-self: center;
    margin-left: 10%;
}
#myProjects, #contactMe {
    color: black;
    flex-wrap: wrap;
    height: 50vh;
    align-items: center;
}
#contactMeButton {
    text-align: center;
}
.btn {
    font-size: 3.5rem;
}
#contactMe {
    align-items: center;
}
#aboutMe{
    background-color: #eeeeee;
    height: 50vh;
    font-size: 3.5rem;
}
#footer {
    background-color: #eeeeee;
    height: 10vh;
    align-items: center;
    justify-content: center;
}
html {
    font-size: 14px;
    font-family: 'Noto Serif', serif;

}

@media (max-width: 575px) {
    html {
        font-size: 16px;
    }
    #myProjects{
        height: 100vh;
    }
    #hero, #aboutMe, #contactMeButton, .btn{
        font-size: 1.4rem;
    }
    #myNav{
        margin-top: 3.5em;
    }
    #heading {
        margin-top: 1em;
    }


}

@include media-breakpoint-up(md) {
    html {
        font-size: 20px;
    }
    #myProjects{
        height: 100vh;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 28px;
    }
}